<h3>Брокеры</h3>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Хост</th>
            <th>Количество партиций</th>
        </tr>
    </thead>
    <tbody>
        @if (viewModel is { Count: > 0 })
        {
            @foreach (var broker in viewModel)
            {
                <tr>
                    <td>@broker.BrokerId</td>
                    <td>@broker.Host : @broker.Port</td>
                    <td>
                        @broker.PartitionCount 
                        
                        @if (broker.PartitionPercent > 0)
                        {
                            <span>(@broker.PartitionPercent%)</span>
                        }

                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">Список брокеров пуст</td>
            </tr>
        }

    </tbody>
</table>
