@using KfkAdmin.Interfaces.Providers
@using KfkAdmin.Models.Entities
@rendermode InteractiveServer

<h3 class="mb-2">Топики</h3>

<div class="d-flex mb-3 p-2 border border-1 rounded-1">
    <AddTopicModal OnCreateComplete="LoadTopics"/>
</div>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Наименование</th>
        <th>Кол-во партиций</th>
        <th>Фактор репликации</th>
        <th>Кол-во сообщений</th>
    </tr>
    </thead>
    <tbody>
    @if (topics is { Count: > 0 })
    {
        @foreach (var topic in topics)
        {
            <tr>
                <td>
                    <a class="btn btn-primary btn-sm me-3" href="/view-topic/@topic.Name">
                        <i class="bi bi-eye"></i>
                    </a>
                    <button class="btn btn-danger btn-sm" @onclick="async () => await DeleteTopicHandlerAsync(topic.Name)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
                <td>
                    <div class="d-flex justify-content-between">
                        <span>@topic.Name</span>
                        <RenameTopicModal OldName="@topic.Name" OnRenameSuccess="LoadTopics"/>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-between">
                        <span>@topic.PartitionCount</span>
                        <ChangePartitionModal TopicName="@topic.Name" OnChangeSuccess="LoadTopics"/>
                    </div>
                </td>
                <td>@topic.ReplicationFactor</td>
                <td>@topic.MessageCount</td>
            </tr>
        }
    }
    </tbody>
</table>